.PersonalDetails{
    display: flex;
    justify-content: center;
    align-items: center;
}
.PersonalDetails>form{
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    border: 1px solid bisque;
    border-radius: 2rem;
    background-color: rgb(230, 203, 168,0.6);
    box-shadow: 2px 2px 2px rgb(235, 230, 223);
    font-size: 1.1rem;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.inputs{
    margin: 1rem 0;
    padding: 0.2rem;
    width: 100%;
    border: 0;
    outline: none;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.2rem 0.2rem 0.5rem black;
}
.PersonalDetails>form>span{
    color: rgb(27, 29, 31);
}
.PersonalDetails>form>h2{
    text-decoration: underline;
}
.btns{
    padding: 0.5rem 2rem;
    background-color: blanchedalmond;
    border:0;
    outline: none;
    margin: 0 0 1rem 0;
    font-size: 1rem;
    transition: all 1s;
}
.btns:hover{
    transform: scale(1.1,1.1);
    border-radius: 1rem;
    background-color: azure;
    color: blue;
}
