body{
    margin: 0;
    padding: 0;
    text-align: center;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    margin: 8rem 0;
    padding: 2rem;
    border-radius: 2rem;
    background-color: rgba(241, 205, 151, 0.7);
    border:1px solid rgb(238, 211, 211);
    color: brown;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: burlywood;
}
nav>.link{
    text-decoration: none;
    padding: 0.5rem;
    background-color: cornsilk;
    border-radius: 0.3rem;
    margin: 0.5rem 0;
}
.explore{
    padding:0.6rem 1rem;
    background-color: rgb(255, 68, 0);
    color: cornsilk;
    font-size: 1rem;
    outline: none;
    border:0;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.5s;
}
.explore:hover{
    background-color: transparent;
    color:rgb(255, 68, 0);
    border-radius: 50px;
}